<%# Renders a blog post
# -params-
# blog: the blog post
# header_style (optional): 'h1', 'h2', etc.
# show_comment_count (optional): true or false
-%>

<% header_style ||= 'h1'
   show_comment_count ||= false %>
	 
<div class="one_blog">
	<<%= header_style %> style="margin-bottom:0px"><%= link_to(blog.title, blog_named_link(blog)) %></<%= header_style %>>
	<div class="info">
		<%= image_tag "bloggity/time.gif" -%> Posted on <%= blog.created_at.strftime("%B %d, %Y") %>
		<%= image_tag "bloggity/user.gif" -%> <%= link_to(blog.posted_by.display_name, blog.posted_by) -%>
		<% if show_comment_count %>
			<%= image_tag "bloggity/comment.gif" -%> <% if blog.comments.empty? %>No comments<% else %><%= link_to pluralize(blog.comments.size, "comment"), blog_named_link(blog) -%><% end %>
		<% end %>
	</div>
	
	<p><% if blog.fck_created %>
		<%= blog.body -%>
	<% else %>
		<%= simple_format(auto_link(blog.body)) %>
	<% end %>
	</p>
	
	<% if blog.category %>
		<%= image_tag "bloggity/cat.gif" -%> <%= blog.category.name %>
	<% end %>
	
	<% unless blog.tags.blank? %>
		<%= image_tag "bloggity/tag.gif" -%> <%= blog.tags.collect { |t| link_to(t.name, {:controller => 'blogs', :action => :index, :blog_set_id => blog.blog_set.id}.merge(:tag_name => t.name)) }.join(", ") %>
	<% end %>
	
	<% if logged_in? && current_user.can_blog?(@blog_set_id) %>
		<p><%= link_to 'Edit', blog_named_link(blog, :edit) %> or <%= link_to 'Destroy', blog_named_link(blog, :destroy), :confirm => 'Are you sure?', :method => :delete %></p>
	<% end %>
<br/>
</div>
