<h1>Editing Blog</h1>

<% form_for(@blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :url_identifier %><br />
    <%= f.text_field :url_identifier %>
  </p>
  <p>
    <%= f.label :stylesheet %> (leave blank to use default)<br />
    <%= f.text_field :stylesheet %>
  </p>
	<p>
    <%= f.label :feedburner_url %> <br />
    <%= f.text_field :feedburner_url %>
	</p>
	<p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blog_path %>