<h1>New blog</h1>

<%= error_messages_for :blog %>

<% form_for(@blog) do |f| %>
  <p>
    <b>Title</b> <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :cols => 80 %>
  </p>

  <p>
    <b>Should it be in index?</b> <%= f.check_box :is_indexed %>
  </p>

  <p>
    <b>Is complete</b> <%= f.check_box :is_complete %>
  </p>
	
	<p>
    <b>Category</b> <%= f.select :category_id, BlogCategory.find(:all).collect { |bc| [bc.name, bc.id] }.insert(0, ["None", nil]) %>
	</p>
	
	<p>
    <b>Tags</b> <%= f.text_field :tags %>
	</p>

		<%= f.submit "Save" %>
  </p>
<% end %>

	<br /><h4>Upload Images</h4>
	<% remote_form_for(:blog_asset, :url => { :controller => "blogs", :action => :create_asset }, 
			:html => { :method => :post, :id => 'uploadForm', :multipart => true }) do |f| -%>
		<%= f.hidden_field :blog_id, :value => @blog.id %>
		<label>Upload a file:</label> <%= f.file_field :uploaded_data %>
	<% end %>

<% javascript_tag do %>
	jQuery(document).ready(function($) 
	{
		var fckEditor = new FCKeditor('blog[body]');
		fckEditor.BasePath = "/plugin_assets/bloggity/javascripts/fckeditor/";
		fckEditor.ReplaceTextarea();
		
		$('#uploadForm input').change(function(){
				$(this).parent().ajaxSubmit({
						beforeSubmit: function(a,f,o) {
							o.dataType = 'json';
						},
						complete: function(XMLHttpRequest, textStatus) {
							new_image = $("<img>").attr('src', XMLHttpRequest.responseText);
							new_text = $("<div>").html(XMLHttpRequest.responseText);
							new_container = $("<div>");
							$('#blogInnerImageContainer').append(new_container);
							new_container.append(new_image).append(new_text);
						},
						success: function(data) { 
							//afterSuccessfulUpload(data); 
						}
					});
			});
		});
<% end %>

	<div id="blogImageContainer">
		<%= render :partial => "blog_images", :locals => { :blog_images => @blog.images } -%>
	</div>
<%= link_to 'Back', blogs_path %>
