<br /><br />
<%= error_messages_for :blog_post %>
<% form_for(@blog_post, :url => { :controller => 'blog_posts', :action => :update, :id => @blog_post, :blog_id => @blog_id }) do |f| %>
  <p>New Blog Title: &nbsp;<%= f.text_field :title, :style => "font-size:20px" %></p>

  <p>Body<br />
    <%= f.text_area :body, :cols => 80 %>
  </p>

  <p>
		<%= f.check_box :is_complete %> <%= f.label :is_complete -%>? <br />
		Category <%= f.select :category_id, BlogCategory.find(:all).collect { |bc| [bc.name, bc.id] }.insert(0, ["None", nil]) %> <%= link_to "Create new category", { :controller => 'blog_categories', :action => :new }, :popup => true -%><br />
		Blog <%= f.select :blog_id, Blog.find(:all).collect { |bc| [bc.title, bc.id] } %> <%= link_to "Create new blog", { :controller => 'blogs', :action => :new }, :popup => true -%><br /> 
		Tags (separate with comma) <%= f.text_field :tag_string %>
	</p>

	<%= f.submit "Save" %>
<% end %>

<br /><h3>Upload Assets</h3>
<% remote_form_for(:blog_asset, :url => { :controller => "blog_posts", :action => :create_asset }, 
		:html => { :method => :post, :id => 'uploadForm', :multipart => true }) do |f| -%>
	<%= f.hidden_field :blog_post_id, :value => @blog_post.id %>
	<label>Upload a file:</label> <%= f.file_field :uploaded_data %>
<% end %>

<% javascript_tag do %>
	jQuery(document).ready(function($) 
	{
		var fckEditor = new FCKeditor('blog_post[body]');
		fckEditor.BasePath = "/javascripts/bloggity/fckeditor/";
		fckEditor.ReplaceTextarea();
		
		$('#uploadForm input').change(function(){
				$(this).parent().ajaxSubmit({
						beforeSubmit: function(a,f,o) {
							o.dataType = 'json';
						},
						complete: function(XMLHttpRequest, textStatus) {
							new_image = $("<img>").attr('src', XMLHttpRequest.responseText);
							new_text = $("<div class='asset_filename'>").html("Asset file path: <a href='" + XMLHttpRequest.responseText + "'>" + XMLHttpRequest.responseText + "</a>");
							new_container = $("<div class='uploaded_asset'>");
							$('#inner_asset_container').append(new_container);
							new_container.append(new_image).append(new_text);
						},
						success: function(data) { 
							//afterSuccessfulUpload(data); 
						}
					});
			});
		});
<% end %>

	<div id="outer_asset_container">
		<%= render :partial => "blog_assets", :locals => { :blog_assets => @blog_post.assets } -%>
	</div>
