<h1>Editing blog_category</h1>

<% form_for(@blog_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
	<p>
    <%= f.label :blog_id %><br />
    <%= f.text_field :blog_id %>
	</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @blog_category %> |
<%= link_to 'Back', blog_categories_path %>
