<h1>New blog category</h1>

<% form_for(@blog_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    Parent category<br />
    <%= f.select :parent_id, BlogCategory.find(:all, :conditions => { :parent_id => nil }).collect { |bc| [bc.name, bc.id] }.insert(0, ["None", nil]) %>
  </p>
  <p>
    <%= f.label :blog_id %><br />
    <%= f.select :blog_id, Blog.find(:all).collect { |b| [b.title, b.id] } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', blog_categories_path %>
