<h1>New Blog Set</h1>

<% form_for(@blog_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :url_identifier %><br />
    <%= f.text_field :url_identifier %>
  </p>
	<p>
    <%= f.label :stylesheet %> (leave blank to use default)<br />
    <%= f.text_field :stylesheet %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', blog_sets_path %>