<p>
  <b>Title:</b>
  <%=h @blog_set.title %>
</p>
<p>
  <b>Subtitle:</b>
  <%=h @blog_set.subtitle %>
</p>
<p>
  <b>Url identifier:</b>
  <%=h @blog_set.url_identifier %>
</p>
<p>
  <b>Stylesheet:</b>
	<%=h @blog_set.stylesheet %>
</p>
<p>
  <b>Feedburner URL</b>
	<%= @blog_set.feedburner_url %>
</p>
	

<%= link_to 'Edit', edit_blog_set_path(@blog_set) %> |
<%= link_to 'Back', blog_sets_path %>