<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_name || "My Bloggity Blog" %></title>
  <%= stylesheet_link_tag 'bloggity/blog' %>  		
	
	<%= javascript_include_tag 'bloggity/jquery' %>
	<%= javascript_include_tag 'bloggity/jquery-form' %>
	<%= javascript_include_tag 'bloggity/fckeditor/fckeditor' %>
	
</head>
<body>

<!-- bloggity styles namespaced by this div -->
<div id="bloggity_container">
	<%= render :partial => 'blog_posts/header' %>
	<%= yield  %>
</div> <!-- bloggity_container -->

</body>
</html>
	